//NEWEST
$color-gray:rgba(231, 231, 231, 0.702);
//BUTTONS 
$color-blue: rgb(0, 35, 255);
$color-blue-hover: rgb(0, 23, 173);
$color-white: rgb(255, 255, 255);
//h1h2h3h4h5h6
$color-black:rgb(0, 0, 0);
$color-gray-font:rgb(193, 193, 193);
//shadow
$shadow:0px 0px 25px 0px rgba(219, 219, 219, 0.5);

//border
$color-border:rgb(207, 207, 207);






