.shop {
    @include position-custom(50%, 50%);
    transform: translate(-50%, -50%);
    @include size(70%, 70%);
    opacity: 0;
    visibility: hidden;

    &__description {
        @include size(97%, 10%);
        @include position-custom(-10%, 50%);
        @include position-row;
        justify-content: space-between;

        h2 {
            font-size: 72px;
        }
    }

    &__products {
        @include position-column;
    }

    &__content {
        @include size(100%, 100%);
        @include position-row;
    }

    &__product {
        @include size(100%, 418px);

        background-color: #fff;
        overflow: hidden;
        padding: 10px;
    }

    &__info {
        @include position-column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15%;
    }

    .seat {
        @include size(343px, 418px);
        @include position-column;
        justify-content: space-between;

        margin: 20px 0 20px 2%;
        min-width: 343px;

    }

    .big {
        @include position-row;
        justify-content: center;
        margin-left: 2%;
    }



    p {
        font-size: 18px;
        color: rgb(168, 168, 168);
        margin: 2% 0;

    }


}